<% provide(:title, 'Contact') %>
<h1> Contact </h1>
<p>
    This is to contact me for now, later will be for the mods/team </br>
    
    You may contribute via <a href="https://github.com/poriwag/volleyball_app_reboot"> Github</a>
    
</p>